body {
    font-family: 'Lucida Console';
}

.header {
    padding: 80px;
    color: white;
    background-image: url('./res/bigPerlin.png');
}

.leftAlign {
    position: relative;
    left: 25%;
    text-align: left;
}

.left25 h1 {
    font-size: 40px;
}

.projects {
    width: 60%;
    left: 20%;
    position: relative;
    border: 3px groove #272643;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.project {
    border: 1px solid #272643;
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    height: 300px;
}

.project h3 {
    text-shadow: 2px 2px #000000;
}

.displayImage{
    height: 200px;
}


